<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://files.horizon.pics/8e0dca44-3f64-4cfb-bef1-4ac61ce7528b?a=534&mime1=image&mime2=jpeg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: #333;
            padding-top: 20px;
            margin: 0;
            height: 100%;
        }

        .container {
            max-width: 600px;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }
    </style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        document.getElementById("submit-stage-1").addEventListener("click", function (event) {
            // Swap views from Stage 1 (enter Email/Username) to Stage 2 (Enter One-time Code)
            event.preventDefault();
            document.querySelector(".stage-1").style.display = "none";
            document.querySelector(".stage-2").style.display = "block";

            // Send the one-time code request to the server
            const usernameEmail = document.getElementById("username_email").value;

            fetch('/send-otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username_email: usernameEmail
                })
            })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    console.error('Failed to send OTP:', data.message);
                }
            }).catch(error => {
                console.error('Error sending OTP:', error);
            });

        });
    </script>
</head>

<body>
    <div class="container stage-1">
        <h2>Login</h2>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="POST">
            <div class="form-group">
                <label for="username_email">Username or Email</label>
                <input type="text" class="form-control" id="username_email" name="username_email" required>
            </div>
            
            <!--                                                                                                    -->
            <!--    CF Turnstile widget                                                                             -->
            <!--    IMPORTANT: not verified with CF siteverify due to local hosting                                 -->
            <!--    IMPORTANT: if pushed to production, verify with CF siteverify                                   -->
            <!--    IMPORTANT: https://developers.cloudflare.com/turnstile/get-started/server-side-validation/      -->
            <!--                                                                                                    -->
            <div class="cf-turnstile" data-sitekey="0x4AAAAAABoXaG-abbb2u5bd"></div>
            
            <button type="submit" class="btn btn-primary" id="submit-stage-1">Get One-time Code</button>
        </form>
    </div>
    <div class="container stage-2" style="display: none;">
        <h2>Login</h2>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="POST">
            <div class="form-group">
                <label for="one_time_code">One-time Code</label>
                <input type="text" class="form-control" id="one_time_code" name="one_time_code" required>
            </div>
            
            <!--                                                                                                    -->
            <!--    CF Turnstile widget                                                                             -->
            <!--    IMPORTANT: not verified with CF siteverify due to local hosting                                 -->
            <!--    IMPORTANT: if pushed to production, verify with CF siteverify                                   -->
            <!--    IMPORTANT: https://developers.cloudflare.com/turnstile/get-started/server-side-validation/      -->
            <!--                                                                                                    -->
            <div class="cf-turnstile" data-sitekey="0x4AAAAAABoXaG-abbb2u5bd"></div>
            
            <button type="submit" class="btn btn-primary" id="submit-stage-2">Verify Code</button>
        </form>
    </div>
</body>

</html>